<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! -->
<!-- Collision geometries corrected: mesh collisions replaced with primitives to fix ODE instability -->
<robot name="Drone_Full">
  <link name="Drone_link">
    <inertial>
      <origin xyz="-0.0013761 0.00086982 0.017413" rpy="0 0 0" />
      <mass value="0.66624" />
      <inertia ixx="0.0016209" ixy="-6.4887E-07" ixz="-4.6426E-07"
               iyy="0.0022899" iyz="8.5881E-11" izz="0.003725" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ansa_digital_twin/meshes/Drone_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.64706 0.61961 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ansa_digital_twin/meshes/Drone_link.STL" />
      </geometry>
    </collision>
  </link>

  <link name="lidar_link">
    <inertial>
      <origin xyz="0.00112136524805265 0.000440834561246439 -0.0238673322232874" rpy="0 0 0" />
      <mass value="0.0252559780690073" />
      <inertia ixx="3.69825946715535E-06" ixy="-7.4060372559614E-10" ixz="1.4564381198564E-08"
               iyy="4.00873510244989E-06" iyz="4.24690508731998E-08" izz="4.05150588581423E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ansa_digital_twin/meshes/lidar_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.02" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.06" />
      </geometry>
    </collision>
  </link>

  <joint name="lidarlink" type="fixed">
    <origin xyz="0.0169027205868843 0.000540725161974676 -0.00750000000000001" rpy="0 0 0" />
    <parent link="Drone_link" />
    <child link="lidar_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="jetson_enclosure">
    <inertial>
      <origin xyz="-0.00838796527591504 0.000179031539590882 -0.0202964208774136" rpy="0 0 0" />
      <mass value="0.254034533226162" />
      <inertia ixx="0.000472498239132689" ixy="1.79346468180666E-06" ixz="-3.43049148967638E-07"
               iyy="0.000327000615146421" iyz="-1.51957123757322E-06" izz="0.000684590288302363" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ansa_digital_twin/meshes/jetson_enclosure.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.02" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.08 0.05" />
      </geometry>
    </collision>
  </link>

  <joint name="jetsonenclosure" type="fixed">
    <origin xyz="-0.00226468520548051 3.90556961115951E-05 0.1" rpy="0 0 0" />
    <parent link="Drone_link" />
    <child link="jetson_enclosure" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- Propellers -->
  <link name="leftfront_prop">
    <inertial>
      <origin xyz="-1.47507833489491E-07 2.10445678151122E-07 -0.00517914465126174" rpy="0 0 0" />
      <mass value="0.00159480441689541" />
      <inertia ixx="5.56639689770428E-07" ixy="9.02475235808647E-13" ixz="1.08130301703257E-13"
               iyy="5.56637638208958E-07" iyz="1.45872691212608E-14" izz="1.09638178785683E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ansa_digital_twin/meshes/leftfront_prop.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.005" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.09" length="0.01" />
      </geometry>
    </collision>
  </link>

  <joint name="leftfrontprop" type="continuous">
    <origin xyz="0.12052 0.12184 0.058762" rpy="0 0 0" />
    <parent link="Drone_link" />
    <child link="leftfront_prop" />
    <axis xyz="0 0 1" />
    <limit effort="1" velocity="100" />
    <dynamics damping="0.01" friction="0.1" />
  </joint>

  <link name="rightfront_prop">
    <inertial>
      <origin xyz="-9.17906102654298E-08 -1.11742481545551E-07 -0.00517911843302021" rpy="0 0 0" />
      <mass value="0.00159481970568318" />
      <inertia ixx="5.56639167669408E-07" ixy="-8.8879475305905E-13" ixz="-2.03842407365828E-13"
               iyy="5.56639663559266E-07" iyz="-2.33420322318702E-13" izz="1.09638303409469E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ansa_digital_twin/meshes/rightfront_prop.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.005" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.09" length="0.01" />
      </geometry>
    </collision>
  </link>

  <joint name="rightfrontprop" type="continuous">
    <origin xyz="0.12132 -0.12103 0.058762" rpy="0 0 0" />
    <parent link="Drone_link" />
    <child link="rightfront_prop" />
    <axis xyz="0 0 1" />
    <limit effort="1" velocity="100" />
    <dynamics damping="0.01" friction="0.1" />
  </joint>

  <link name="leftback_prop">
    <inertial>
      <origin xyz="-1.52480716664183E-07 -3.11473940459162E-08 -0.00517914745803508" rpy="0 0 0" />
      <mass value="0.00159480847163999" />
      <inertia ixx="5.5663669761204E-07" ixy="1.27626642172741E-12" ixz="5.73988674308801E-14"
               iyy="5.56643330982996E-07" iyz="-8.1900663305347E-14" izz="1.0963845407178E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ansa_digital_twin/meshes/leftback_prop.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.005" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.09" length="0.01" />
      </geometry>
    </collision>
  </link>

  <joint name="leftbackprop" type="continuous">
    <origin xyz="-0.12235 0.12103 0.058762" rpy="0 0 0" />
    <parent link="Drone_link" />
    <child link="leftback_prop" />
    <axis xyz="0 0 1" />
    <limit effort="1" velocity="100" />
    <dynamics damping="0.01" friction="0.1" />
  </joint>

  <link name="rightback_prop">
    <inertial>
      <origin xyz="3.28392283366341E-08 2.05463497965352E-07 -0.00517915257083296" rpy="0 0 0" />
      <mass value="0.0015948012769617" />
      <inertia ixx="5.56638014453329E-07" ixy="-5.60505706377811E-13" ixz="-6.13608423812269E-14"
               iyy="5.56639735846356E-07" iyz="-2.77181358594932E-14" izz="1.09638226283169E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://ansa_digital_twin/meshes/rightback_prop.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.005" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.09" length="0.01" />
      </geometry>
    </collision>
  </link>

  <joint name="rightbackprop" type="continuous">
    <origin xyz="-0.12155 -0.12184 0.058762" rpy="0 0 0" />
    <parent link="Drone_link" />
    <child link="rightback_prop" />
    <axis xyz="0 0 1" />
    <limit effort="1" velocity="100" />
    <dynamics damping="0.01" friction="0.1" />
  </joint>


<!-- IMU sensor on the main body -->
  <gazebo>
    <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
    </plugin>
  </gazebo>

  <gazebo reference="Drone_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>100</update_rate>
      <topic>imu</topic>
    </sensor>
  </gazebo>

  <!-- Motor model: one plugin instance per rotor -->
  <gazebo>
    <plugin filename="gz-sim-multicopter-motor-model-system" name="gz::sim::systems::MulticopterMotorModel">
      <robotNamespace>ansa_drone</robotNamespace>
      <jointName>leftfrontprop</jointName>
      <linkName>leftfront_prop</linkName>
      <turningDirection>ccw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>1000</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.016</momentConstant>
      <commandSubTopic>command/motor_speed</commandSubTopic>
      <motorNumber>0</motorNumber>
      <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin filename="gz-sim-multicopter-motor-model-system" name="gz::sim::systems::MulticopterMotorModel">
      <robotNamespace>ansa_drone</robotNamespace>
      <jointName>rightfrontprop</jointName>
      <linkName>rightfront_prop</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>1000</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.016</momentConstant>
      <commandSubTopic>command/motor_speed</commandSubTopic>
      <motorNumber>1</motorNumber>
      <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin filename="gz-sim-multicopter-motor-model-system" name="gz::sim::systems::MulticopterMotorModel">
      <robotNamespace>ansa_drone</robotNamespace>
      <jointName>leftbackprop</jointName>
      <linkName>leftback_prop</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>1000</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.016</momentConstant>
      <commandSubTopic>command/motor_speed</commandSubTopic>
      <motorNumber>2</motorNumber>
      <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin filename="gz-sim-multicopter-motor-model-system" name="gz::sim::systems::MulticopterMotorModel">
      <robotNamespace>ansa_drone</robotNamespace>
      <jointName>rightbackprop</jointName>
      <linkName>rightback_prop</linkName>
      <turningDirection>ccw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>1000</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.016</momentConstant>
      <commandSubTopic>command/motor_speed</commandSubTopic>
      <motorNumber>3</motorNumber>
      <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
    </plugin>
  </gazebo>

  <!-- Velocity control: converts cmd_vel into per-rotor thrust commands (handles hover automatically) -->
  <gazebo>
    <plugin filename="gz-sim-multicopter-control-system" name="gz::sim::systems::MulticopterVelocityControl">
      <robotNamespace>ansa_drone</robotNamespace>
      <commandSubTopic>cmd_vel</commandSubTopic>
      <enableSubTopic>enable</enableSubTopic>
      <comLinkName>Drone_link</comLinkName>
      <velocityGain>2.7 2.7 2.7</velocityGain>
      <attitudeGain>2 3 0.15</attitudeGain>
      <angularRateGain>0.4 0.52 0.18</angularRateGain>
      <maximumLinearAcceleration>2 2 2</maximumLinearAcceleration>
      <rotorConfiguration>
        <rotor>
          <jointName>leftfrontprop</jointName>
          <forceConstant>8.54858e-06</forceConstant>
          <momentConstant>0.016</momentConstant>
          <direction>1</direction>
        </rotor>
        <rotor>
          <jointName>rightfrontprop</jointName>
          <forceConstant>8.54858e-06</forceConstant>
          <momentConstant>0.016</momentConstant>
          <direction>-1</direction>
        </rotor>
        <rotor>
          <jointName>leftbackprop</jointName>
          <forceConstant>8.54858e-06</forceConstant>
          <momentConstant>0.016</momentConstant>
          <direction>-1</direction>
        </rotor>
        <rotor>
          <jointName>rightbackprop</jointName>
          <forceConstant>8.54858e-06</forceConstant>
          <momentConstant>0.016</momentConstant>
          <direction>1</direction>
        </rotor>
      </rotorConfiguration>
    </plugin>
  </gazebo>





</robot>