<?xml version="1.0" ?>
<robot name="bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ================= BASE FOOTPRINT ================= -->
    <link name="base_footprint"/>


    <!-- ================= DRONE BODY ================= -->
    <link name="base_link">

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.69788"/>
            <inertia ixx="0.002699"  ixy="0.000035"   ixz="0.0000007"
                     iyy="0.004139"  iyz="0.000023"
                     izz="0.002206"/>
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="1.57 0 0"/>
            <geometry>
                <mesh filename="package://lidar3d_stack/meshes/drone.stl"
                      scale="0.002 0.002 0.002"/>
            </geometry>

            <material name="grey">
                <color rgba="0.75 0.75 0.75 1.0"/>
            </material>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.45 0.45 0.15"/>
            </geometry>
        </collision>

    </link>



    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child  link="base_link"/>
        <origin xyz="0 0 -0.2" rpy="0 0 0"/>
    </joint>


    <!-- ================= LIDAR LINK ================= -->
    <link name="lidar_link">

        <inertial>
            <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
            <mass value="0.02526"/>
            <inertia ixx="0.000004983"  ixy="-0.000000061"  ixz="0.0000000017"
                     iyy="0.000004054"  iyz="-0.000000061"
                     izz="0.000004671"/>
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="1.57 0 0"/>
            <geometry>
                <mesh filename="package://lidar3d_stack/meshes/drone_lidar.stl"
                      scale="0.002 0.002 0.002"/>
            </geometry>

            <material name="black">
                <color rgba="0.1 0.1 0.1 1.0"/>
            </material>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.04" length="0.06"/>
            </geometry>
        </collision>

    </link>


    <!-- ================= LIDAR MOUNT JOINT ================= -->
    <!-- Derived from CAD coordinates -->
    <!--
        Base Link  : (96.81, 149.03, 205.67)
        Lidar Link : (110.87, 82.41, 178.75)
        -0.09681 -0.14903 -0.20567
        0.11087 0.08241 0.17875
        Relative Transform:
            dx = 14.06 mm
            dy = -66.62 mm
            dz = -26.92 mm
        0.01505 0.01275 -0.01744
        Converted to meters:
            x = 0.01406
            y = -0.06662
            z = -0.02692
    -->

    <joint name="lidar_joint" type="fixed">

        <parent link="base_link"/>
        <child  link="lidar_link"/>

        <origin xyz="0.32 -0.40457 0" rpy="0 0 0"/>

    </joint>

    <gazebo reference="base_link">
        <static>true</static>
        <self_collide>false</self_collide>
    </gazebo>
                
</robot>

